VAT_PERCENTAGE=25.5
ENTSOE_API_TOKEN=<...>
POSTGRES_USER=<...>
POSTGRES_PASSWORD=<...>
POSTGRES_HOST=<...>
POSTGRES_DB=<...>
POSTGRES_PORT=<...>
DAGSTER_WEBSERVER_HOST=<...>
DAGSTER_WEBSERVER_PORT=<...>
