.env
.venv/

storage/
logs/
history/
.logs_queue/
.telemetry/

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

.pytest_cache/
.tox/
.nosetpy
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.log

.vscode/
.nux/
.idea/
.DS_Store
Thumbs.db
*.swp
